WpfClientApp/Connected Services/ToDoService/ToDoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ToDo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDo" nillable="true" type="tns:ToDo" />
  <xs:complexType name="ArrayOfToDo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDo" nillable="true" type="tns:ToDo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDo" nillable="true" type="tns:ArrayOfToDo" />
</xs:schema>