WpfClientApp/Connected Services/ToDoService/ToDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/ToDoService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10000/ToDoService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10000/ToDoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoService_AddToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_AddToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDos" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDosResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_MarkToDoCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkToDoCompleted" />
  </wsdl:message>
  <wsdl:message name="IToDoService_MarkToDoCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkToDoCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoDescription" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IToDoService">
    <wsdl:operation name="AddToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/AddToDo" message="tns:IToDoService_AddToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/AddToDoResponse" message="tns:IToDoService_AddToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDos" message="tns:IToDoService_GetToDos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDosResponse" message="tns:IToDoService_GetToDos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkToDoCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/MarkToDoCompleted" message="tns:IToDoService_MarkToDoCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/MarkToDoCompletedResponse" message="tns:IToDoService_MarkToDoCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/DeleteToDo" message="tns:IToDoService_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoResponse" message="tns:IToDoService_DeleteToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDoDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDoDescription" message="tns:IToDoService_GetToDoDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDoDescriptionResponse" message="tns:IToDoService_GetToDoDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoService" type="tns:IToDoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/AddToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDos">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkToDoCompleted">
      <soap:operation soapAction="http://tempuri.org/IToDoService/MarkToDoCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoDescription">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDoDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoService">
    <wsdl:port name="BasicHttpBinding_IToDoService" binding="tns:BasicHttpBinding_IToDoService">
      <soap:address location="http://localhost:10000/ToDoService/endpoint1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>