WpfClientApp/Connected Services/ServiceReference2/ToDoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ISearchToDoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/SearchService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10000/SearchService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10000/SearchService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDoLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoService_AddToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_AddToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_MarkToDoCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkToDoCompleted" />
  </wsdl:message>
  <wsdl:message name="IToDoService_MarkToDoCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkToDoCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDo" />
  </wsdl:message>
  <wsdl:message name="IToDoService_DeleteToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoDescription" />
  </wsdl:message>
  <wsdl:message name="IToDoService_GetToDoDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDoDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchToDoService_GetToDos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDos" />
  </wsdl:message>
  <wsdl:message name="ISearchToDoService_SearchResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SearchResult" />
  </wsdl:message>
  <wsdl:portType name="IToDoService">
    <wsdl:operation name="AddToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/AddToDo" message="tns:IToDoService_AddToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/AddToDoResponse" message="tns:IToDoService_AddToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkToDoCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/MarkToDoCompleted" message="tns:IToDoService_MarkToDoCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/MarkToDoCompletedResponse" message="tns:IToDoService_MarkToDoCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/DeleteToDo" message="tns:IToDoService_DeleteToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/DeleteToDoResponse" message="tns:IToDoService_DeleteToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDoDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoService/GetToDoDescription" message="tns:IToDoService_GetToDoDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoService/GetToDoDescriptionResponse" message="tns:IToDoService_GetToDoDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="ISearchToDoService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetToDos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchToDoService/GetToDos" message="tns:ISearchToDoService_GetToDos_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SearchResult">
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchToDoService/SearchResult" message="tns:ISearchToDoService_SearchResult_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToDoService" type="tns:IToDoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/AddToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkToDoCompleted">
      <soap:operation soapAction="http://tempuri.org/IToDoService/MarkToDoCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToDo">
      <soap:operation soapAction="http://tempuri.org/IToDoService/DeleteToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoDescription">
      <soap:operation soapAction="http://tempuri.org/IToDoService/GetToDoDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_ISearchToDoService" type="tns:ISearchToDoService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ISearchToDoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetToDos">
      <soap12:operation soapAction="http://tempuri.org/ISearchToDoService/GetToDos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SearchResult">
      <soap12:operation soapAction="http://tempuri.org/ISearchToDoService/SearchResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoService">
    <wsdl:port name="BasicHttpBinding_IToDoService" binding="tns:BasicHttpBinding_IToDoService">
      <soap:address location="http://localhost:10000/ToDoService/endpoint1" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="SearchToDoService">
    <wsdl:port name="WSDualHttpBinding_ISearchToDoService" binding="tns:WSDualHttpBinding_ISearchToDoService">
      <soap12:address location="http://localhost:10000/SearchService/endpoint3" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10000/SearchService/endpoint3</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>